@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../images/menu-bar-icon.png");
}

.custom-toggler.navbar-toggler {
  border-color: #000000;
}

.custom-toggler.navbar-toggler:focus {
  box-shadow: none;
  box-shadow: 0px 0px 3px #000000;
}

.border-blue {
  width: 100px;
  height: 3px;
  background-color: #0075ff;
}

.border-white {
  width: 100px;
  height: 3px;
  background-color: #ffffff;
}

.border-black {
  width: 60px;
  height: 2px;
  background-color: #555555;
}

.section-heading {
  color: #0075ff;
}

/* quick links + header START */
.links-plus-header .top-header .top-quick-links .btn {
  background-color: #f2f5f7;
  border-color: #f2f5f7;
  color: #386aa6;
  box-shadow: 1px 1px 3px #c6c6c6;
}

.links-plus-header .top-header .top-quick-links .btn:hover {
  color: #0075ff;
  box-shadow: none;
}

.links-plus-header .top-header .top-quick-links .btn .fa-whatsapp {
  font-weight: bold;
  font-size: 19px;
}

.links-plus-header .top-header .top-quick-links .btn.btn-blue {
  background-color: #0075ff;
  border-color: #0075ff;
  color: #fff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #0075ff;
}

.links-plus-header .top-header .top-quick-links .btn.btn-blue:hover {
  box-shadow: none;
}

.links-plus-header .top-header .btn.btn-sign-in {
  border-color: #0075ff;
  color: #0075ff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #a8cdf9;
  transition: all 0.25s ease;
}

.links-plus-header .top-header .btn.btn-sign-in:hover {
  color: #ffffff;
  box-shadow: none;
  border-color: #0075ff;
  background-color: #0075ff;
  transition: all 0.25s ease;
}

.links-plus-header .navbar-bg-color {
  background-color: #f9f9f9;
}

.links-plus-header .navbar ul.navbar-nav li {
  margin-right: 10px;
}

.links-plus-header .navbar ul.navbar-nav li a.nav-link {
  color: #000000;
  transition: all 0.25s ease;
}

.links-plus-header .navbar ul.navbar-nav li a.nav-link.active,
.links-plus-header .navbar ul.navbar-nav li a.nav-link:hover {
  color: #0075ff;
  border-bottom: 1px solid #0075ff;
  transition: all 0.25s ease;
}

.links-plus-header .navbar .right-block .btn.btn-w-bg {
  border-color: #0075ff;
  background-color: #0075ff;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #0075ff;
  transition: all 0.25s ease;
}

.links-plus-header .navbar .right-block .btn.btn-w-bg:hover {
  color: #ffffff;
  box-shadow: none;
  border-color: #0075ff;
  background-color: #0075ff;
  transition: all 0.25s ease;
}

.links-plus-header .navbar .right-block .btn.btn-wo-bg {
  border-color: #0075ff;
  color: #0075ff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #a8cdf9;
  transition: all 0.25s ease;
}

.links-plus-header .navbar .right-block .btn.btn-wo-bg:hover {
  color: #ffffff;
  box-shadow: none;
  border-color: #0075ff;
  background-color: #0075ff;
  transition: all 0.25s ease;
}

.links-plus-header,
.links-plus-header .top-header,
.links-plus-header .navbar-bg-color {
  transition: all 0.5s ease-in-out;
}

.links-plus-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 3px 0px 5px #f9f9f9;
}

.links-plus-header.sticky .navbar-bg-color {
  background-color: #ffffff;
}
/* quick links + header END */

/* quick links (at footer -- only for small device) START */
.mobile-fixed-quick-links {
  background-color: #f5f5f5;
  box-shadow: 0px -1px 2px #f5f5f5;
  z-index: 9999;
}

.mobile-fixed-quick-links a i {
  font-size: 20px;
}

.mobile-fixed-quick-links a i.fa-whatsapp {
  font-size: 23px;
}
/* quick links (at footer -- only for small device) END */

/* hero section START */
.hero-section {
  background-image: url("../images/home/hero-banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.hero-section h1,
.hero-section h3 {
  color: #000000;
}

.hero-section .btn.btn-get-started {
  background-color: #0075ff;
  border-color: #0075ff;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #0075ff;
  transition: all 0.25s ease;
}

.hero-section .btn.btn-get-started:hover {
  box-shadow: none;
  transition: all 0.25s ease;
}
/* hero section END */

/* how it works section START */
.how-it-works-section .border-tracker {
  border-right: 3px solid #c6c6c6;
}

.how-it-works-section .border-tracker.active {
  border-right: 3px solid #0075ff;
}
/* how it works section END */

/* why us section START */

.why-us-section p i {
  color: #f58a22;
}

.why-us-section .block {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 3px #a4a4a4;
}
/* why us section END */

/* hiring model section START */
.hiring-model-section {
  background-image: url("../images/home/hiring-model-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hiring-model-section h1,
.hiring-model-section h5 {
  color: #ffffff;
}

.hiring-model-section .block {
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #c7c7c7;
  min-height: 550px;
  transition: all 0.25s ease;
}

.hiring-model-section .block h3 {
  border-bottom: 1px solid #8cb2cb;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  transition: all 0.25s ease;
}

.hiring-model-section .block .btn.btn-get-in-touch {
  background-color: #ffffff;
  border-color: #0075ff;
  color: #0075ff;
  font-weight: 500;
  box-shadow: 1px 1px 3px #a7d0ff;
  transition: all 0.25s ease;
}

.hiring-model-section .block hr {
  color: #ddeffd;
  padding: 2px 0;
}

.hiring-model-section .block a.terms-and-cond {
  color: #000000;
}

.hiring-model-section .block p i {
  color: #0075ff;
}

.hiring-model-section .block:hover .btn.btn-get-in-touch:hover {
  background-color: #0075ff;
  color: #ffffff;
  box-shadow: none;
  transition: all 0.25s ease;
}

.hiring-model-section .block:hover a.terms-and-cond:hover {
  color: #f58a22;
  transition: all 0.25s ease;
}
/* hiring model section END */

/* our clients section START */
.our-clients-section {
  background-color: #f9f9f9;
}

.our-clients-section .image-block {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #c6c6c6;
}

.our-clients-section .image-block img {
  width: 100%;
}
/* our clients section END */

/* footer section START */
.footer-section {
  background-color: #24272c;
  color: #ffffff;
}

.footer-section a {
  color: #ffffff;
  transition: all 0.25s ease;
}

.footer-section a:hover {
  color: #0075ff;
  transition: all 0.25s ease;
}

.footer-section a.icon i {
  font-size: 25px;
}
/* footer section END */

@media (max-width: 400px) {
  .how-it-works-section .border-tracker {
    border-right: none;
  }

  .how-it-works-section .border-tracker.active {
    border-right: none;
  }
}
